<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录</title>
<link href="./Include/Css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="./Include/Css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />



<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script>
//        $.validator.setDefaults({
//            submitHandler: function() {
//                alert("提交事件!");
//            }
//        });
        $().ready(function() {
            $("#commentForm").validate();
        });
    //验证两次密码是否一样

    </script>
    <style>
        .error{
            color:red;
        }
    </style>




</head>

<body>




<div class="banner">

<div class="login-aside">
  <div id="o-box-up"></div>
  <div id="o-box-down"  style="table-layout:fixed;">
   <div class="error-box"></div>
   
   <form class="registerform" action="./index.php?c=index&a=inlogin" method="post">
   <div class="fm-item">
	   <label for="logonId" class="form-label">后台系统登陆：</label>
	   <input type="text" placeholder="输入账号"  id="username" class="i-text"  name="username" >    
       <div class="ui-form-explain"></div>
  </div>
  
  <div class="fm-item">
	   <label for="logonId" class="form-label">登陆密码：</label>
	   <input type="password" value="" maxlength="100" id="password" class="i-text" data-rule-required="true" name="password">    
       <div class="ui-form-explain"></div>
  </div>
  
  <div class="fm-item pos-r">
	   <label for="logonId" class="form-label">验证码</label>
	   <input type="text"  id="yzm" class="i-text yzm"  name="code">    
       <div class="ui-form-explain"><img src="./index.php?c=index&a=code" class="yzm-img" onclick="this.src='./index.php?c=index&a=code' "/></div>
  </div>
  
  <div class="fm-item">
	   <label for="logonId" class="form-label"></label>
	   <input type="submit" value="" tabindex="4" id="send-btn" class="btn-login"> 
       <div class="ui-form-explain"></div>
  </div>
  
  </form>
  
  </div>

</div>

	<div class="bd">
		<ul>
			<li style="background:url(./Include/themes/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;"><a target="_blank" ></a></li>
			<li style="background:url(./Include/themes/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"><a target="_blank" ></a></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>
<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>


<div class="banner-shadow"></div>

<div class="footer">
   <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://guantaow.taobao.com/"></a></p>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
